GROQ_API_KEY="Your Groq API Key"
# Add to your .env file
MONGODB_URI=mongodb://localhost:27017/
# Or for MongoDB Atlas:
#MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_URI = "Your Mongodb cluster URI"
